<?xml version="1.0" encoding="UTF-8"?>
<launch> 

<node   name="t_p"
        pkg="my_pkg"
        type="custom_publisher.py"
        args=""
        output="screen"/>

<node   name="two_ints_listener"
        pkg="my_pkg"
        type="custom_listener.py"
        args=""
        output="screen"/>

<node   name="result"
        pkg="my_pkg"
        type="custom_result.py"
        args=""
        output="screen"/>

</launch>